.remark-code-line {
	white-space: pre-wrap;
	padding-left: 1.85em;
	text-indent: -1.85em;
}

/* new font size classes */
.largest { font-size: 2.488em; }
.larger { font-size: 2.074em; }
.large { font-size: 1.44em;}
.small { font-size: 0.833em; }
.smaller { font-size: 0.694em; }
.smallest{ font-size: 0.5em; }

/* spaced para style */
.spaced {
    line-height: 150%;
}

/* despaced para style */
.despaced {
    line-height: 75%;
}

/* float 30% 70% width */
.pull-right-30 {
  width: 29%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-right-70 {
  width: 69%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-30 {
  width: 29%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-70 {
  width: 69%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-60 {
  width: 59%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-right-40 {
  width: 39%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-40 {
  width: 39%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-right-60 {
  width: 59%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.shadow {
    border-radius: 5px;
    box-shadow: 4.2px 4.5px 2.5px rgba(65, 65, 65, 0.737);
}

.scroll-output {
  height: 15em;
  overflow-y: scroll;
}
.scroll-output-tall {
  height: 20em;
  overflow-y: scroll;
}
.scroll-output-full {
  height: 27em;
  overflow-y: scroll;
}

/* new font code size class */
.huge .remark-code {
  font-size: 150% !important;
}
.tiny .remark-code {
  font-size: 80% !important;
}